/* IN DE ROOT KAN JE VARIABELEN INSTELLEN, IS HANDIG VOOR KLEUR ETC */
:root{
    --primary: #333;
    --white: #ffffff;
    --darkgreen: #013022;
    --lightpastelgreen: #E6EEE5;
    --pastelgreen: #C8E5C7;
    --lightestpastelgreen: #E6FBE6;

    --white-shadow: rgba(255, 255, 255, 0.15);
    --darkgreen-shadow: rgb(1, 48, 34, 0.15);
    --dark-shadow: rgb(51, 51, 51, 0.25);
}

html{
    font-size: 62.5%;
    font-family: 'Raleway', 'Sans-Serif';
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background: var(--white);
}


::-webkit-scrollbar {
    width: 1rem;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
   
::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 2.5rem; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #222; 
}

/* FONT SIZES INSTELLEN */
p, a{
    font-size: 1.6rem;
    color: var(--primary);
    line-height: 2.4rem;
}

h3{
    font-size: 2.4rem;
    line-height: 3.6rem;
}

h2{
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 4.2rem;
    margin-bottom: 0;
}

h1{
    font-size: 4.8rem;
    line-height: 7.2rem;
    margin: 0rem;
}

/* COMPONENTS */
button{
    position: relative;
    z-index: 10;
    border: 2px solid var(--darkgreen);
    padding: 1rem 3rem;
    font-size: 16px;
    border-radius: .5rem;
    cursor: pointer;
    transition: 250ms;
    height: fit-content;
    width: fit-content;
}

button:hover{
    box-shadow: 0 0 8px 8px var(--darkgreen-shadow);
    transition: 250ms;
}

button.filled{
    color: var(--white);
    background-color: var(--darkgreen);
}

button.open{
    color: var(--darkgreen);
    background-color: var(--white);
}

p.subtitle{
    max-width: 500px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-top: 2rem;
    align-items: center;
}

form > label{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

input, textarea{
    padding: 1.6rem;
    font-size: 1.6rem;
    border: none;
    width: 25rem;
    border-radius: .5rem;
    box-shadow: 0 4px 15px 3px var(--dark-shadow);
}

textarea{
    resize: none;
    width: 50rem;
    height: 15rem;
}

span.floating-label{
    position: absolute;
    left: 1.6rem;
    font-size: 1.6rem;
    opacity: .5;
    pointer-events: none;
    transition: 350ms all;
}

input:focus + .floating-label,
input:not(:focus):valid + .floating-label,
textarea:focus + .floating-label,
textarea:not(:focus):valid + .floating-label{
    transform: translateY(-1.4rem) translateX(-0.4rem);
    font-size: 10px;
    font-weight: 600;
    opacity: 1;
}

#message + span{
    left: 1.6rem;
    top: 1.6rem
}

/* HEADER */
header{
    box-shadow: 0 -5px 20px 10px var(--dark-shadow);
    position: relative;
    z-index: 5;
}

header > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
}

header .logo{
    width: 20rem;
}

header nav{
    display: flex;
    gap: 2.5rem;
    align-items: center;
    padding-right: 2.5rem;
    position: relative;
}

header .nav-logo-link{
    display: flex;
    align-items: center;
}

header .nav-link:not(.nav-link.login):hover::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -.5rem;
    width: 0%;
    margin-left: -15%;
    height: 2px;
    background-color: var(--primary);
    border-radius: 5rem;
    animation: navbar-link 500ms forwards;
}

header a.nav-link{
    text-decoration: none;
    position: relative;
}

header a.nav-link.login{
    border: 1px solid var(--primary);
    border-radius: .5rem;
    padding: .25rem 1rem;
    transition: 350ms;
}

header a.nav-link.login:hover{
    box-shadow: 0 0 5px 5px var(--dark-shadow);
    transition: 350ms;
}

/* FOOTER */
.footer div{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* ANIMATIONS */
@keyframes navbar-link {
    0%{
        width: 0;
        margin-left: 50%;
    }
    100%{
        width: 130%;
        margin-left: -15%;
    }
}