body{
    background-image: url("https://static.vecteezy.com/system/resources/previews/002/073/831/large_2x/blurred-nature-park-background-free-photo.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    
}

textarea {
    display: block;
    width: 100%;
    max-width: 60%;
    height: 15rem;
    border: none;
    padding: 1.6rem;
    border-radius: .3rem;
    margin-top: 1.6rem;
    font-size: 16px;

}

main#main{
    width: 69.5rem;
}

.alignbtn2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}

.filled{
    margin-right: 2%;
}

h2.bottomtext, .alignbtn{
    position: relative;
    z-index: 5;
}





