body{
background-image: url("https://static.vecteezy.com/system/resources/previews/002/073/831/large_2x/blurred-nature-park-background-free-photo.jpg");
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;

}

main{
    margin: 10px;
    padding: 100px;
	display: flex;
    justify-content: center;
}

.box{
    background-color: #C8E5C7;
    border-radius: 5px;
    width: 75%;
    padding-left: 10%;
    padding-top: 10%;
    padding-bottom: 10%;

}

textarea {
	display: block;
	width: 100%;
	max-width: 60%;
    height: 15rem;
	padding: .75em;
	border: 1px solid none;
	border-radius: .3rem;
    margin-top: 1.5rem;


}

.textblock{
    margin-top: 5%;
    margin-bottom: 5%;
}

.bottomtext{
    text-align: center;
    margin-left: -10%;
    margin-top: 15%;
    margin-bottom: 10%;
}

.alignbtn{
    display: flex;
    gap: 50%;
}

label{
    font-size: 24px;
}



